<section class="mt-16 sm:flex sm:justify-center">
  <div class="max-w-sm mr-8">
    <h1 class="font-extrabold text-7xl">
      Hello. <br />I'm <span class="text-blue-300">Uri.</span>
    </h1>
    <h3 class="font-semibold text-xl text-blue-300 mt-6">Software developer</h3>
    <p class="mt-4 tracking-wider">
      I build web apps from end to end, using the latest technology in the field
      like
      <span class="border-b-4 border-b-black">NextJS</span>,
      <span class="border-b-4 border-b-blue-500">React</span>,
      <span class="border-b-4 border-b-green-700">Node</span>,
      <span class="border-b-4 border-b-black">Express</span>,
      <span class="border-b-4 border-b-green-500">MongoDB</span>,
      <span class="border-b-4 border-b-blue-700">PostgreSQL</span>

      and more. If you need a passionate software developer, simply send me an
      <a class="hover:underline" href="mailto:uri552@gmail.com">email</a>.
    </p>
  </div>

  <img
    class="rounded-md shadow-md mt-4 sm:mt-0"
    priority
    ngSrc="/images/hero.webp"
    alt="Hero image"
    height="400"
    width="400"
  />
</section>
