<div id="contact" class="mt-16 border-t-2 pt-6 px-12">
  <h1 class="text-2xl font-semibold">Let's work together</h1>
  <p class="mt-2 max-w-sm">
    Looking for a passionate, quick learner motivated developer, shoot me
    contact me at
  </p>
  <div class="flex mt-6">
      <a class="hover:underline mr-4" href="mailto:uri552@gmail.com"
    ><img src="/images/gmail.svg" alt="Email" width="32" height="32"></a
  >
  <a class="hover:underline" href="https://www.linkedin.com/in/uri-baynesay/" target="_blank"
    ><img src="/images/linkedin.svg" alt="Linkedin" width="32" height="32"></a
  >
  </div>

</div>
